﻿Page {
    font-size:17;
}

/* BUTTONS */
Button {
    margin: 0 10;
    padding: 10;
    text-transform: capitalize;
}

/* TEXT FIELDS */
TextField {
    margin: 0 10;
    padding: 10;
    font-family: Arial, Helvetica, sans-serif;
}

/* COLOURS */
.green {
    background-color: #68a354;
    color: white;
}

.blue {
    background-color: #78bbe2;
    color: white;
}

.grey {
    background-color: #acacac;
    color: white;
}